/* 0-700px phone
  700 - 900px tablet portrait
  900 - 1200 px tablet landscape
  1200 - 1800 px desktop
  1080 +++  big desktop

ORDER : base + typography > general layout + grid > page layout > components

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop
*/
:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-1: hsl(207, 26%, 17%);
  --very-dark-blue-2: rgb(17, 21, 23);
  --dark-gray: hsl(0, 0%, 52%);
  --very-Light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --background-primary: var(--white);
  --background-secondary: var(--very-Light-gray);
  --text-color-primary: var(--very-dark-blue-2);
  --shadow-color-primary: var(--dark-gray);
  --primary-font: 'Nunito Sans', sans-serif;
  --light-weight: 300;
  --semi-bold: 600;
  --extra-bold: 800;
  --font-size-primary: 1.4rem;
  --font-size-secondary: 1.6rem;
  --page-padding: 1.5em;
  --padding-small: 1em;
  --padding-medium: 2em;
  --padding-large: 3em;
  --padding-x-large: 4em;
  --margin-small: 1em;
  --margin-medium: 2em;
  --margin-large: 3em;
  --margin-x-large: 4em;
}

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
a,
a:link,
a:active {
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  background-color: transparent;
  color: inherit;
}

html {
  font-size: 62.5%;
}

.body {
  font-family: var(--primary-font);
  font-size: var(--font-size-primary);
  line-height: 1.5;
  color: var(--text-color-primary);
}

.body--dark {
  --background-primary: var(--dark-blue);
  --background-secondary: var(--very-dark-blue-1);
  --text-color-primary: var(--white);
  --shadow-color-primary: var(--very-dark-blue-2);
}

h1,
h2,
h3 {
  font-size: inherit;
}

.header {
  background-color: var(--background-primary);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0em 0.4em 0.4em -0.4em var(--shadow-color-primary);
  padding: var(--padding-medium) var(--page-padding);
  z-index: 100;
  position: relative;
}

.header__nav > .title-primary {
  cursor: pointer;
}

@media only screen and (min-width: 76.25em) {
  .header__nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-medium) 0;
  }
}

.main {
  padding: var(--padding-large) var(--page-padding);
  padding-top: var(--padding-medium);
  background-color: var(--background-secondary);
}

@media only screen and (min-width: 43.75em) {
  .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin-medium);
  }
}

.cards-container__items {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: var(--page-padding);
}

@media only screen and (min-width: 76.25em) {
  .cards-container__items {
    grid-gap: var(--padding-large);
  }
}

.cards-container__items--detail {
  width: 100%;
  display: block;
}

.cards-container__list {
  justify-self: center;
}

.cards-container__list--detail {
  border-radius: 0;
  overflow: visible;
}

.page {
  display: none;
  min-height: 100vh;
}

@media only screen and (min-width: 76.25em) {
  .page {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.page__detail {
  margin-top: var(--margin-small);
  font-size: var(--font-size-secondary);
}

.page--active {
  display: block;
}

.btn {
  padding: 0.8em var(--padding-medium);
  background-color: var(--background-primary);
  box-shadow: 0px 0em 0.5em var(--shadow-color-primary);
  border-radius: 0.4em;
}

.btn__dark {
  padding: 0;
  background-color: transparent;
  box-shadow: unset;
}

.btn__back {
  margin-bottom: calc(var(--margin-medium) * 2.5);
}

.btn__icon {
  margin-right: 0.5em;
  transform: scaleX(1.5) scaleY(0.8);
}

.search {
  position: relative;
  color: inherit;
  border-radius: 0.4em;
  box-shadow: 0px 0em 0.5em var(--shadow-color-primary);
}

@media only screen and (min-width: 43.75em) {
  .search {
    flex-basis: 35%;
  }
}

.search__icon {
  position: absolute;
  color: inherit;
  z-index: 10;
  left: var(--padding-medium);
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-primary);
}

.search__input {
  border-radius: 0.4em;
  font-size: var(--font-size-primary);
  color: inherit;
  background-color: var(--background-primary);
  display: inline-block;
  width: 100%;
  border: none;
  z-index: 0;
  padding: var(--padding-small) var(--padding-x-large);
}

.search__input::placeholder {
  color: currentColor;
  font-size: 1.2rem;
  font-weight: var(--light-weight);
}

.search__input:focus {
  outline: none;
}

.dropdown {
  font-weight: var --semi-bold;
  margin: var(--margin-large) 0;
  margin-bottom: var(--margin-small);
  width: 60%;
  position: relative;
  padding-bottom: var(--padding-small);
}

@media only screen and (min-width: 43.75em) {
  .dropdown {
    margin: 0;
    margin-top: var(--padding-small);
    width: 30%;
  }
}

.dropdown:hover .dropdown__menu {
  display: block;
}

.dropdown:hover .dropdown__btn::after {
  border-color: var(--text-color-primary) transparent transparent;
  top: 50%;
}

.dropdown__btn {
  background-color: var(--background-primary);
  color: inherit;
  width: 100%;
  position: relative;
  text-align: left;
  font-size: var(--font-size-primary);
  padding: var(--padding-small) var(--padding-medium);
  border-radius: 0.4em;
  box-shadow: 0px 0em 0.5em var(--shadow-color-primary);
}

.dropdown__btn::after {
  position: absolute;
  content: '';
  right: 10%;
  height: 0.85em;
  width: 0.85em;
  border: 0.45em solid;
  border-color: transparent transparent var(--text-color-primary);
  transition: 0.1s ease-in;
}

.dropdown__menu {
  display: none;
  position: absolute;
  background-color: var(--background-primary);
  margin-top: 0.5em;
  width: 100%;
  padding: var(--padding-small) var(--padding-medium);
  border-radius: 0.4em;
  box-shadow: 0px 0em 0.5em var(--shadow-color-primary);
  transition: 0.1s ease-in;
}

.dropdown__list:not(:last-child) {
  margin-bottom: 0.5em;
}

.dropdown__link, .dropdown__link:active, .dropdown__link:link {
  display: flex;
  font-weight: var(--semi-bold);
  justify-content: space-between;
}

.dropdown__link--active {
  box-shadow: 0em 0.4em 0.4em -0.4em var(--shadow-color-primary);
}

.dropdown__link--active:after {
  content: '\2713';
  color: var(--text-color-primary);
  font-size: inherit;
}

.card {
  border-radius: 0.4em;
  overflow: hidden;
  max-width: 16em;
}

.card--detail {
  max-width: 100%;
}

@media only screen and (min-width: 76.25em) {
  .card--detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card__figure {
  height: 12em;
}

.card__figure--detail {
  height: 40vh;
  max-width: 31.25em;
}

@media only screen and (min-width: 76.25em) {
  .card__figure--detail {
    height: 60vh;
  }
}

.card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__body {
  background-color: var(--background-primary);
  padding: var(--padding-medium);
  padding-bottom: var(--padding-large);
}

.card__body--detail {
  background-color: var(--background-secondary);
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 76.25em) {
  .card__body--detail {
    width: 50%;
  }
}

.card__title {
  font-weight: var(--extra-bold);
  margin-bottom: var(--margin-small);
}

.card__detail {
  font-size: inherit;
}

@media only screen and (min-width: 56.25em) {
  .card__detail--detail {
    display: flex;
    gap: var(--page-padding);
  }
}

.card__detail--first > *:not(:last-child), .card__detail--second > *:not(:last-child) {
  margin-bottom: calc(var(--margin-small) / 2);
}

.card__detail--second {
  margin: var(--margin-medium) 0;
}

@media only screen and (min-width: 56.25em) {
  .card__detail--second {
    margin: 0;
    align-self: flex-start;
  }
}

.card__subtitle {
  font-weight: var(--semi-bold);
  display: inline-block;
}

.card__subtitle--content {
  font-weight: var(--light-weight);
}

.card-footer {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 56.25em) {
  .card-footer {
    flex-direction: row;
    align-items: baseline;
    gap: var(--page-padding);
    margin-top: var(--margin-medium);
  }
}

.card-footer__content {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--margin-small);
  padding: 0 0.2em;
}

.card-footer__item {
  cursor: pointer;
  width: max-content;
  padding: 0.5em 1em;
}

.card__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */