:root {
  // colors variables;
  --dark-blue: hsl(209, 23%, 22%); //(dark Mode Elements)
  --very-dark-blue-1: hsl(207, 26%, 17%); //(dark Mode Background)
  --very-dark-blue-2: rgb(17, 21, 23); //(Light Mode Text)
  --dark-gray: hsl(0, 0%, 52%); //(Light Mode Input)
  --very-Light-gray: hsl(0, 0%, 98%); //(Light Mode Background)
  --white: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)
  --background-primary: var(--white);
  --background-secondary: var(--very-Light-gray);
  --text-color-primary: var(--very-dark-blue-2);
  --shadow-color-primary: var(--dark-gray);

  // fonts family;
  --primary-font: 'Nunito Sans', sans-serif;
  // fonts-weight;
  --light-weight: 300;
  --semi-bold: 600;
  --extra-bold: 800;
  //font size:
  --font-size-primary: 1.4rem; // homepage items
  --font-size-secondary: 1.6rem; // detail page

  // padding
  --page-padding: 1.5em;
  --padding-small: 1em;
  --padding-medium: 2em;
  --padding-large: 3em;
  --padding-x-large: 4em;
  // margin
  --margin-small: 1em;
  --margin-medium: 2em;
  --margin-large: 3em;
  --margin-x-large: 4em;
}
