:root {
  // colors variables;
  --Dark-Blue: hsl(209, 23%, 22%); //(Dark Mode Elements)
  --Very-Dark-Blue-1: hsl(207, 26%, 17%); //(Dark Mode Background)
  --Very-Dark-Blue-2: hsl(200, 15%, 8%); //(Light Mode Text)
  --Dark-Gray: hsl(0, 0%, 52%); //(Light Mode Input)
  --Very-Light-Gray: hsl(0, 0%, 98%); //(Light Mode Background)
  --White: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)

  // fonts family;
  --primary-font: 'Nunito Sans', sans-serif;
  // fonts-weight;
  --light-weight: 300;
  --semi-bold: 600;
  --extra-bold: 800;
  //font size:
  --font-size-primary: 1.4rem; // homepage items
  --font-size-secondary: 1.6rem; // detail page
}
