.card {
  &__figure {
    height: 12em;
    &--detail {
      height: 15em;
    }
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__body {
    background-color: var(--background-primary);
    padding: var(--padding-medium);
    padding-bottom: var(--padding-large);
    &--detail {
      background-color: var(--background-secondary);
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__title {
    font-weight: var(--extra-bold);
    margin-bottom: var(--margin-small);
  }
  &__detail {
    &--first,
    &--second {
      & > *:not(:last-child) {
        margin-bottom: calc(var(--margin-small) / 2);
      }
    }
    &--second {
      margin: var(--margin-medium) 0;
    }
  }
  &__subtitle {
    font-weight: var(--semi-bold);
    display: inline-block;
    &--content {
      font-weight: var(--light-weight);
    }
  }
  &-footer {
    display: flex;
    flex-direction: column;
    &__content {
      display: grid;
      grid-gap: var(--margin-small);
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-auto-rows: 1fr;
    }
    &__item {
    }
  }
  &__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
