.card {
  border-radius: 0.4em;
  overflow: hidden;
  max-width: 16em;
  // @include respond(desktop) {
  //   max-width: none;
  // }
  &--detail {
    max-width: 100%;
    @include respond(desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__figure {
    height: 12em;

    &--detail {
      height: 40vh;
      max-width: 31.25em;
      @include respond(desktop) {
        height: 60vh;
      }
    }
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__body {
    background-color: var(--background-primary);
    padding: var(--padding-medium);
    padding-bottom: var(--padding-large);
    &--detail {
      background-color: var(--background-secondary);
      padding-left: 0;
      padding-right: 0;
      @include respond(desktop) {
        width: 50%;
      }
    }
  }
  &__title {
    font-weight: var(--extra-bold);
    margin-bottom: var(--margin-small);
  }
  &__detail {
    font-size: inherit;
    &--detail {
      @include respond(tab-land) {
        display: flex;
        gap: var(--page-padding);
      }
    }
    &--first,
    &--second {
      & > *:not(:last-child) {
        margin-bottom: calc(var(--margin-small) / 2);
      }
    }
    &--second {
      margin: var(--margin-medium) 0;
      @include respond(tab-land) {
        margin: 0;
        align-self: flex-start;
      }
    }
  }
  &__subtitle {
    font-weight: var(--semi-bold);
    display: inline-block;
    &--content {
      font-weight: var(--light-weight);
    }
  }
  &-footer {
    display: flex;
    flex-direction: column;
    @include respond(tab-land) {
      flex-direction: row;
      align-items: baseline;
      gap: var(--page-padding);
      margin-top: var(--margin-medium);
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      grid-gap: var(--margin-small);
      padding: 0 0.2em;
    }
    &__item {
      cursor: pointer;
      width: max-content;
      padding: 0.5em 1em;
    }
  }
  &__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
