// reset style :
:root {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
// reset list
ul {
  list-style: none;
}
// reset anchor and button element:

button,
a,
a:link,
a:active {
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  background-color: transparent;
  color: inherit;
}
html {
  font-size: 62.5%; // 62.5= 10px/16px => 1rem == 10px;
}
.body {
  font-family: var(--primary-font);
  font-size: var(--font-size-primary);
  line-height: 1.5;
  color: var(--very-dark-blue-2);
  &--dark {
    --dark-blue: hsl(0, 0%, 100%); //(dark Mode Elements)
    --very-dark-blue-1: rgb(17, 21, 23); //(dark Mode Background)
    --very-dark-blue-2: hsl(0, 0%, 100%); //(Light Mode Text)
    --dark-gray: rgb(17, 21, 23); //(Light Mode Input)
    --very-Light-gray: hsl(207, 26%, 17%); //(Light Mode Background)
    --white: hsl(209, 23%, 22%); // (Dark Mode Text & Light Mode Elements)
  }
}
h1,
h2,
h3 {
  font-size: inherit;
}
