.page {
  display: none;
  min-height: 100vh;
  @include respond(desktop) {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__home {
  }
  &__detail {
    margin-top: var(--margin-small);
    font-size: var(--font-size-secondary);
  }
  &--active {
    display: block;
  }
}
