.header {
  background-color: var(--background-primary);

  &__nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0em 0.4em 0.4em -0.4em var(--shadow-color-primary);
    padding: var(--padding-medium) var(--page-padding);
    z-index: 100;
    position: relative;
    & > .title-primary {
      cursor: pointer;
    }
    @include respond(desktop) {
      max-width: 1200px;
      margin: 0 auto;
      padding: var(--padding-medium) 0;
    }
  }
}
.main {
  padding: var(--padding-large) var(--page-padding);
  padding-top: var(--padding-medium);
  background-color: var(--background-secondary);
}

.input {
  @include respond(tab-port) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin-medium);
  }
}
.cards-container {
  &__items {
    //max-width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: var(--page-padding);
    @include respond(desktop) {
      grid-gap: var(--padding-large);
    }

    &--detail {
      width: 100%;
      display: block;
    }
  }
  &__list {
    justify-self: center;

    &--detail {
      border-radius: 0;
      overflow: visible;
    }
  }
}
