.header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-medium) var(--page-padding);
  box-shadow: 0px -0.15em 0.5em var(--dark-gray);
  background-color: var(--white);
  z-index: 100;
  position: relative;
}
.main {
  padding: 0 var(--page-padding);
  padding-top: var(--padding-medium);
  background-color: var(--very-Light-gray);
}
.cards-container {
  &__items {
    width: 85%;
    margin: 0 auto;
  }
  &__list {
    margin-bottom: var(--margin-medium);
    border-radius: 0.4em;
    overflow: hidden;
  }
}
